<h1> {{customer.name}}</h1>

{% if not customer.is_active %}
    <h1>  🔴 Inactivo{{customer.is_active}}</h1>
{% endif %}
<h1> 🟢 Es Activo</h1>

<form method= "POST" action= "{% url "delete_customer" customer.id %}">
    {% csrf_token %}
    <button>
        eliminar
    </button>
</form>

<a  href= "{% url "update_customer" customer.id %}">
    <button>
        actualizar
    </button>
</a>

################### contracts ############################
<a href="{% url "create_contract" customer.id %}"> crear nuevo contrato </a>


{% for contract in contracts %}
    <h3> {{contract.address}} {{contract.megabytes}}</h3>
    <h3> {{contract.plan}}</h3>
    #####Actions #####

    <a href = "{% url "create_order" contract.id %}"> 
        crear soporte
    </a>

{% empty %}

<h1> No hay datos para mostrar</h1>

{% endfor %}